#Data Types and Structures

1. What are data structures, and why are they important?

  - Data structures are ways to organize and store data efficiently so it can be accessed and modified effectively. They are important for solving complex problems, improving performance, and writing clean, maintainable code.

2. Explain the difference between mutable and immutable data types with examples ?
  - data types are classified into two categories based on whether their values can be changed after they are created:

  - Mutable data type: Can be modified after creation.
  
    Ex: list, dict, set

  - Immutable data types: Cannot be changed after creation.

    Ex:str, tuple

3. What are the main differences between lists and tuples in Python ?
  - Lists are mutable, tuples are immutable

  - Lists use more memory, tuples are faster

  - Tuples can be used as dictionary keys; lists cannot

4.  Describe how dictionaries store data ?
  - Dictionaries store data as key-value pairs using a hash table, enabling fast lookup by key.

5. Why might you use a set instead of a list in Python ?
  - To automatically eliminate duplicates

  - Faster membership checks (in)

6. What is a string in Python, and how is it different from a list ?
  - A string is a sequence of characters (immutable)

  - A list can hold any data type and is mutable

7. How do tuples ensure data integrity in Python ?
  - Tuples are immutable, so their values can’t be changed, which prevents accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python ?
  - A hash table maps keys to values using a hash function. Python dictionaries are built on hash tables.

9. Can lists contain different data types in Python ?
  - Yes, Python lists can contain mixed types
  
    Ex: a = [1, "hello", 3.5, [1, 2]]

10.  Explain why strings are immutable in Python ?
  - Immutability allows for string interning and memory efficiency, and prevents bugs from unintended changes.

11.  What advantages do dictionaries offer over lists for certain tasks ?
  - Dictionaries provide faster lookups using keys, offer better readability through key-value pairs, and are ideal for storing structured data compared to lists which use index-based access.

12. Describe a scenario where using a tuple would be preferable over a list ?
  - Use a tuple when data shouldn’t change
  
     Ex: (latitude, longitude)

13. How do sets handle duplicate values in Python ?
  - Sets in Python automatically remove duplicate values. When you create a set, any repeated elements are stored only once.

14. How does the “in” keyword work differently for lists and dictionaries ?
  - Lists: checks if value exists

  - Dictionaries: checks if key exists

15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

16.  What is a nested dictionary, and give an example of its use case ?
  - A nested dictionary is a dictionary where the values themselves are dictionaries.

    - Nested dictionaries are useful for representing structured data like:

      Student records, where each student has subjects and marks

      Employee data, with departments and roles

17.  Describe the time complexity of accessing elements in a dictionary ?
  - Accessing elements in a dictionary has an average time complexity of O(1) because it uses a hash table.
In rare cases with hash collisions, it can go up to O(n).

18.  In what situations are lists preferred over dictionaries ?
  - Lists are preferred when order matters and you need to access elements by position. They are also simpler for storing sequences without key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionaries were traditionally considered unordered because they do not store elements by position but by key.

      Data retrieval is done via keys, not index positions.

      Effect: access values using keys quickly, but the order of keys is not guaranteed

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists retrieve data by index position, which requires knowing the position.
  - Dictionaries retrieve data by keys, allowing direct access without knowing order.

#Practical Questions

In [1]:
#1.Write a code to create a string with your name and print it.

name = "Sriharikrishna"
print(name)

Sriharikrishna

In [2]:
#2.Write a code to find the length of the string "Hello World".

print(len("Hello World"))

11

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4.Write a code to convert the string "hello" to uppercase.

print("hello".upper())

HELLO

In [5]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [7]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [10]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
print(lst[::-1])

[50, 40, 30, 20, 10]

In [12]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "grape")
print("kiwi" in fruits)

False

In [17]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [18]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d = {"name": "Sriharikrishna", "age": 25, "city": "Visakhapatnam"}
print(d)

{'name': 'Sriharikrishna', 'age': 25, 'city': 'Visakhapatnam'}

In [23]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [25]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [27]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [32]:
'''27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
'''

numbers = [58, 75, 88, 23, 67]
numbers.sort()
print(numbers)

[23, 58, 67, 75, 88]

In [28]:
#28.Write a code to create a list with strings and print the element at the third index.

words = ["one", "two", "three", "four", "five"]
print(words[3])

four

In [29]:
#29.Write a code to combine two dictionaries into one and print the result.

a = {"x": 1, "y": 2}
b = {"z": 3}
c = {**a, **b}
print(c)

{'x': 1, 'y': 2, 'z': 3}

In [30]:
#30.Write a code to convert a list of strings into a set.

str_list = ["apple", "banana", "apple"]
str_set = set(str_list)
print(str_set)

{'banana', 'apple'}